/*
$btn-default: $dark-gray;
$btn-default-color: $white;
$btn-dark-color: $black;

$btn-danger: $red;
$btn-success: $green;
$btn-warning: $orange;
$btn-info: $cyan;
$btn-dark: $black;
*/
@import url("https://fonts.googleapis.com/css?family=Josefin+Sans:400,700|Lato:400,700|Rubik:400,700&display=swap&subset=latin-ext");
.btn-default, .btn-danger, .btn-success, .btn-warning, .btn-info, .btn-dark, .btn-fancy {
  display: inline-block;
  padding: 5px 15px;
  border: none;
  border-radius: 0px 0px 0px 0px;
  -moz-border-radius: 0px 0px 0px 0px;
  -webkit-border-radius: 0px 0px 0px 0px;
  -o-border-radius: 0px 0px 0px 0px;
  cursor: pointer;
}

.btn-default {
  background-color: #444444;
  color: #ffffff;
}

.btn-default:hover {
  background-color: #2b2b2b;
}

.btn-danger {
  background-color: #e02214;
  color: #ffffff;
}

.btn-danger:hover {
  background-color: #b11b10;
}

.btn-success {
  background-color: #0de042;
  color: #000000;
}

.btn-success:hover {
  background-color: #0ab034;
}

.btn-warning {
  background-color: #f08307;
  color: #000000;
}

.btn-warning:hover {
  background-color: #be6806;
}

.btn-info {
  background-color: #02f7df;
  color: #000000;
}

.btn-info:hover {
  background-color: #02c4b1;
}

.btn-dark {
  background-color: #1a1a1a;
  color: #ffffff;
}

.btn-dark:hover {
  background-color: black;
}

.btn-fancy {
  background-color: #8a059e;
  color: #ffffff;
}

.btn-fancy:hover {
  background-color: #5f036d;
}

/*
.btn-default{
    @extend %btn;
    background-color: rgba($btn-default, 0.2);
    color: colorYiq($btn-default);

    &:hover{
        background-color: darken($btn-default, 10%);
    }
}

.btn-danger{
    @extend %btn;
    background-color: $btn-danger;
    color: colorYiq($btn-danger);

    &:hover{ 
        background-color: darken($btn-danger, 10%);
    }
}

.btn-success{
    @extend %btn;
    background-color: $btn-success;
    color: colorYiq($btn-success);

    &:hover{
        background-color: darken($btn-success, 10%);
    }
}

.btn-warning{
    @extend %btn;
    background-color: $btn-warning;
    color: colorYiq($btn-warning);

    &:hover{
        background-color: darken($btn-warning, 10%);
    }
}

.btn-info{
    @extend %btn;
    background-color: $btn-info;
    color: colorYiq($btn-info);

    &:hover{
        background-color: darken($btn-info, 10%);
    }
}

.btn-dark{
    @extend %btn;
    background-color: $btn-dark;
    color: colorYiq($btn-dark);

    &:hover{
        background-color: lighten($btn-dark, 20%);
    }
}
*/
/*fonts*/
/*    font-family: 'Lato', sans-serif;

    font-family: 'Rubik', sans-serif;

    font-family: 'Josefin Sans', sans-serif;
*/
/*! normalize.css v8.0.1 | MIT License | github.com/necolas/normalize.css */
/* Document
   ========================================================================== */
/**
 * 1. Correct the line height in all browsers.
 * 2. Prevent adjustments of font size after orientation changes in iOS.
 */
html {
  line-height: 1.15;
  /* 1 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
}

/* Sections
   ========================================================================== */
/**
 * Remove the margin in all browsers.
 */
body {
  margin: 0;
}

/**
 * Render the `main` element consistently in IE.
 */
main {
  display: block;
}

/**
 * Correct the font size and margin on `h1` elements within `section` and
 * `article` contexts in Chrome, Firefox, and Safari.
 */
h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

/* Grouping content
   ========================================================================== */
/**
 * 1. Add the correct box sizing in Firefox.
 * 2. Show the overflow in Edge and IE.
 */
hr {
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  /* 1 */
  height: 0;
  /* 1 */
  overflow: visible;
  /* 2 */
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
pre {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */
}

/* Text-level semantics
   ========================================================================== */
/**
 * Remove the gray background on active links in IE 10.
 */
a {
  background-color: transparent;
}

/**
 * 1. Remove the bottom border in Chrome 57-
 * 2. Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari.
 */
abbr[title] {
  border-bottom: none;
  /* 1 */
  text-decoration: underline;
  /* 2 */
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
  /* 2 */
}

/**
 * Add the correct font weight in Chrome, Edge, and Safari.
 */
b,
strong {
  font-weight: bolder;
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
code,
kbd,
samp {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */
}

/**
 * Add the correct font size in all browsers.
 */
small {
  font-size: 80%;
}

/**
 * Prevent `sub` and `sup` elements from affecting the line height in
 * all browsers.
 */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

/* Embedded content
   ========================================================================== */
/**
 * Remove the border on images inside links in IE 10.
 */
img {
  border-style: none;
}

/* Forms
   ========================================================================== */
/**
 * 1. Change the font styles in all browsers.
 * 2. Remove the margin in Firefox and Safari.
 */
button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  /* 1 */
  font-size: 100%;
  /* 1 */
  line-height: 1.15;
  /* 1 */
  margin: 0;
  /* 2 */
}

/**
 * Show the overflow in IE.
 * 1. Show the overflow in Edge.
 */
button,
input {
  /* 1 */
  overflow: visible;
}

/**
 * Remove the inheritance of text transform in Edge, Firefox, and IE.
 * 1. Remove the inheritance of text transform in Firefox.
 */
button,
select {
  /* 1 */
  text-transform: none;
}

/**
 * Correct the inability to style clickable types in iOS and Safari.
 */
button,
[type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button;
}

/**
 * Remove the inner border and padding in Firefox.
 */
button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

/**
 * Restore the focus styles unset by the previous rule.
 */
button:-moz-focusring,
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

/**
 * Correct the padding in Firefox.
 */
fieldset {
  padding: 0.35em 0.75em 0.625em;
}

/**
 * 1. Correct the text wrapping in Edge and IE.
 * 2. Correct the color inheritance from `fieldset` elements in IE.
 * 3. Remove the padding so developers are not caught out when they zero out
 *    `fieldset` elements in all browsers.
 */
legend {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  /* 1 */
  color: inherit;
  /* 2 */
  display: table;
  /* 1 */
  max-width: 100%;
  /* 1 */
  padding: 0;
  /* 3 */
  white-space: normal;
  /* 1 */
}

/**
 * Add the correct vertical alignment in Chrome, Firefox, and Opera.
 */
progress {
  vertical-align: baseline;
}

/**
 * Remove the default vertical scrollbar in IE 10+.
 */
textarea {
  overflow: auto;
}

/**
 * 1. Add the correct box sizing in IE 10.
 * 2. Remove the padding in IE 10.
 */
[type="checkbox"],
[type="radio"] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */
}

/**
 * Correct the cursor style of increment and decrement buttons in Chrome.
 */
[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
  height: auto;
}

/**
 * 1. Correct the odd appearance in Chrome and Safari.
 * 2. Correct the outline style in Safari.
 */
[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */
  outline-offset: -2px;
  /* 2 */
}

/**
 * Remove the inner padding in Chrome and Safari on macOS.
 */
[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
 * 1. Correct the inability to style clickable types in iOS and Safari.
 * 2. Change font properties to `inherit` in Safari.
 */
::-webkit-file-upload-button {
  -webkit-appearance: button;
  /* 1 */
  font: inherit;
  /* 2 */
}

/* Interactive
   ========================================================================== */
/*
 * Add the correct display in Edge, IE 10+, and Firefox.
 */
details {
  display: block;
}

/*
 * Add the correct display in all browsers.
 */
summary {
  display: list-item;
}

/* Misc
   ========================================================================== */
/**
 * Add the correct display in IE 10+.
 */
template {
  display: none;
}

/**
 * Add the correct display in IE 10.
 */
[hidden] {
  display: none;
}

img {
  max-width: 100%;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webki-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -o-box-sizing: border-box;
}

a {
  text-decoration: none;
}

html {
  font-size: 10px;
}

body {
  font-size: 1.6rem;
  color: #000000;
  background-color: #eeeeee;
  font-family: "Rubik", sans-serif;
  font-weight: 400;
}

.container {
  margin: 0 auto;
  width: 95%;
  max-width: 1200px;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Josefin Sans", sans-serif;
  font-weight: 700;
  color: #8a059e;
}

header {
  padding: 30px 0 30px;
  background-color: #8a059e;
}

header .branding {
  text-align: center;
}

header .branding a {
  color: #ffffff;
}

header nav ul {
  list-style: none;
  padding-left: 0;
}

header nav ul li a {
  display: block;
  padding: 5px 0;
  color: #ffffff;
  text-align: center;
  font-family: "Josefin Sans", sans-serif;
  text-transform: uppercase;
  font-weight: 700;
}

header nav ul li a:hover, header nav ul li a.active {
  color: #25e807;
}

@media (min-width: 768px) {
  header .container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  header .container nav ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  header .container nav ul li a {
    padding: 5px;
  }
}

@media (min-width: 992px) {
  header .container nav ul li a {
    padding: 5px 15px;
  }
}

.home-section {
  padding: 150px 0 150px;
  background-color: #ffffff;
  background-image: url(assets/home.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top center;
}

.about-section {
  padding: 30px 0 30px;
  background-color: #ffffff;
}

.service-section {
  padding: 30px 0 30px;
  background-color: transparent;
}

.comment-section {
  padding: 30px 0 30px;
  background-color: #ffffff;
}

.comment-section h2 {
  margin-top: 0;
}

.comment-section .comment-list {
  padding: 0;
}

.comment-section .comment-list .comment-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.comment-section .comment-list .comment-item .comment-img {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 50px;
          flex: 0 0 50px;
}

.comment-section .comment-list .comment-item .comment-img img {
  border-radius: 50%;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  -o-border-radius: 50%;
}

.comment-section .comment-list .comment-item .comment-body {
  padding-left: 10px;
  text-align: justify;
}

@media (min-width: 768px) {
  .comment-section .comment-list .comment-item .comment-img {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 90px;
            flex: 0 0 90px;
  }
}

.course-section {
  padding: 30px 0 30px;
  background-color: transparent;
}

.course-section table {
  border: 1px solid #000000;
  border-collapse: collapse;
  width: 100%;
}

.course-section table caption {
  text-align: left;
  font-style: italic;
}

.course-section table th, .course-section table td {
  border: 1px solid #000000;
  padding: 10px 5px;
}

.course-section table thead {
  background-color: #8a059e;
}

.course-section table thead th {
  color: #ffffff;
  border: 1px solid #ffffff;
}

.course-section table tbody tr:nth-of-type(even) {
  background-color: #ffffff;
}

.course-section table tbody tr:hover {
  background-color: #c8c8c8;
}

.contact-section {
  padding: 150px 0 150px;
  background-color: #ffffff;
  background-image: url(assets/contact.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}

.contact-section h2 {
  text-align: center;
}

.contact-section .contact-form {
  width: 100%;
  max-width: 500px;
  margin: 0 auto;
}

.contact-section .contact-form .form-group .form-control {
  width: 100%;
  border: 1px solid #000000;
  line-height: 4rem;
  padding-left: 5px;
  margin-bottom: 10px;
  border-radius: 4px;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  -o-border-radius: 4px;
}

.contact-section .contact-form .form-group label {
  display: block;
}

footer {
  padding: 30px 0 30px;
  background-color: #8a059e;
}

footer .container nav ul {
  display: block;
  list-style: none;
  padding-left: 0;
  margin-bottom: 30px;
}

footer .container nav ul li a {
  display: block;
  color: #ffffff;
  text-align: center;
  padding: 5px 0;
  font-family: "Josefin Sans", sans-serif;
  font-weight: 700;
  font-size: 1.8rem;
}

footer .container nav ul li a:hover, footer .container nav ul li a.active {
  color: #25e807;
}

footer .container .copyright {
  color: #ffffff;
  text-align: center;
}

@media (min-width: 768px) {
  footer .container nav ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  footer .container nav ul li a {
    padding: 0 20px;
  }
}

@media (min-width: 992px) {
  footer .container nav ul li a {
    padding: 0 30px;
  }
}
/*# sourceMappingURL=theme.css.map */