img{
    max-width: 100%;
}

*{
    box-sizing: border-box;
    -webki-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -o-box-sizing:border-box;
}

a{
    text-decoration: none;
}

html{
    font-size: 10px;
}

.container{
    margin: 0 auto;
    width: 95%;
    max-width: 1200px;
}