$comment-bg: $white;

.comment-section {
  // padding: 30px 0;
  // background: $comment-bg;

  @include styleSection(30px, 30px, $comment-bg);

  h2{
      margin-top: 0;
  }
  .comment-list {
    padding: 0;
    .comment-item {
      display: flex;
      align-items: center;
      justify-content: space-between;

      .comment-img {
        flex: 0 0 50px;
        img {
          @include radius(50%);
        }
      }

      .comment-body {
        padding-left: 10px;
        text-align: justify;
      }
    }
  }
}

@media (min-width: 768px) {
  .comment-section {
    .comment-list {
      .comment-item {
        .comment-img {
          flex: 0 0 90px;
        }
      }
    }
  }
}
