/*
$btn-default: $dark-gray;
$btn-default-color: $white;
$btn-dark-color: $black;

$btn-danger: $red;
$btn-success: $green;
$btn-warning: $orange;
$btn-info: $cyan;
$btn-dark: $black;
*/

$btn-colection: (

'default' : $dark-gray,
'danger'  : $red,
'success' : $green,
'warning' : $orange,
'info'    : $cyan,
'dark'    : lighten($black, 10%),
'fancy'   : $purple
);

%btn{
    display: inline-block;
    padding: 5px 15px;
    border: none;
    //@include radius(5px);

    @include customRadius(0px, 0px, 0px, 0px);

    cursor: pointer;
}

@each $key, $value in $btn-colection {
    
    .btn-#{$key}{
        @extend %btn;
        background-color: $value;
        color: colorYiq($value);

        &:hover{
            background-color: darken($value, 10%);
        }
    }
}

/*
.btn-default{
    @extend %btn;
    background-color: rgba($btn-default, 0.2);
    color: colorYiq($btn-default);

    &:hover{
        background-color: darken($btn-default, 10%);
    }
}

.btn-danger{
    @extend %btn;
    background-color: $btn-danger;
    color: colorYiq($btn-danger);

    &:hover{ 
        background-color: darken($btn-danger, 10%);
    }
}

.btn-success{
    @extend %btn;
    background-color: $btn-success;
    color: colorYiq($btn-success);

    &:hover{
        background-color: darken($btn-success, 10%);
    }
}

.btn-warning{
    @extend %btn;
    background-color: $btn-warning;
    color: colorYiq($btn-warning);

    &:hover{
        background-color: darken($btn-warning, 10%);
    }
}

.btn-info{
    @extend %btn;
    background-color: $btn-info;
    color: colorYiq($btn-info);

    &:hover{
        background-color: darken($btn-info, 10%);
    }
}

.btn-dark{
    @extend %btn;
    background-color: $btn-dark;
    color: colorYiq($btn-dark);

    &:hover{
        background-color: lighten($btn-dark, 20%);
    }
}
*/
