$btn-default: $dark-gray;
$btn-default-color: $white;
$btn-dark-color: $black;

$btn-danger: $red;
$btn-success: $green;
$btn-warning: $orange;
$btn-info: $cyan;
$btn-dark: $black;

%btn{
    display: inline-block;
    padding: 5px 15px;
    border: none;
    border-radius: 5px; 
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    -o-border-radius: 5px;
    cursor: pointer;
}

.btn-default{
    @extend %btn;
    background-color: $btn-default;
    color: $btn-default-color;
}

.btn-danger{
    @extend %btn;
    background-color: $btn-danger;
    color: $btn-default-color;
}

.btn-success{
    @extend %btn;
    background-color: $btn-success;
    color: $btn-default-color;
}

.btn-warning{
    @extend %btn;
    background-color: $btn-warning;
    color: $btn-default-color;
}

.btn-info{
    @extend %btn;
    background-color: $btn-info;
    color: $btn-dark-color;
}

.btn-dark{
    @extend %btn;
    background-color: $btn-dark;
    color: $btn-default-color;
}

