$contact-bg: $white;
$input-border: 1px solid $black;
.contact-section {
  @include styleSection(150px, 150px, $contact-bg);

  background-image: url(assets/contact.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top center;
  background-attachment: fixed;

  h2 {
    text-align: center;
  }

  .contact-form {
    width: 100%;
    max-width: 500px;
    margin: 0 auto;

    .form-group {
        margin-bottom: 1.5rem;
      .form-control {
        display: block;
        width: 100%;
        border: $input-border;
        line-height: 4rem;
        padding: 0px 10px;
        @include radius(4px);
      }
      label {
        display: block;
      }
    }
  }
}
