$table-border: 1px solid $black;
$table-head-bg: $purple;
$thead-color: $white;
$thead-border-color: 1px solid $white;

$tbody-even-bg: $white;
$tbody-hover-bg: darken($light-gray, 15%);
.course-section{
    //padding: 50px 0;

    @include styleSection(30px, 30px, transparent);

    table{
        border: $table-border;
        border-collapse: collapse;
        width: 100%;

        caption{
            text-align: left;
            font-style: italic;
        }
        
        th, td{
            border: $table-border;
            padding: 10px 5px;
        }

        thead{
            background-color: $table-head-bg;
            th{
                color: $thead-color;
                border: $thead-border-color;
            }
        } // thead end

        tbody{
            tr{
                &:nth-of-type(even){
                    background-color: $tbody-even-bg;
                }
                &:hover{
                   background-color: $tbody-hover-bg; 
                }
            }
        }
    } // table end
} //section end
