
/*fonts*/
@import url('https://fonts.googleapis.com/css?family=Josefin+Sans:400,700|Lato:400,700|Rubik:400,700&display=swap&subset=latin-ext');



/*    font-family: 'Lato', sans-serif;

    font-family: 'Rubik', sans-serif;

    font-family: 'Josefin Sans', sans-serif;
*/

$lato: 'Lato', sans-serif;
$rubik: 'Rubik', sans-serif;
$josefin: 'Josefin Sans', sans-serif;
$font-regular: 400;
$font-bold: 700;