$header-bg: $purple;
$header-link-color: $white;
$nav-font: $josefin;
$nav-link-hover: $green;

header{
    // padding: 30px 0;
    // background-color: $header-bg;

    @include styleSection(30px, 30px, $header-bg);

    .branding{
        text-align: center;

        a{
            color: $header-link-color;
        }
    }

    nav{
        ul{
            list-style: none;
            padding-left: 0;

            li{

                a{
                    display: block;
                    padding: 5px 0;
                    color: $header-link-color;
                    text-align: center;
                    font-family: $nav-font;
                    text-transform: uppercase;
                    font-weight: $font-bold;

                    &:hover,
                    &.active{
                        color: $nav-link-hover;

                    }
                } // a end
            }  // li end
        } // ul end
    } // nav end


}

@media(min-width:768px){
    header{
        .container{
            display: flex;
            justify-content: space-between;
            align-items: center;
            
            nav{
                ul{
                    display: flex;
                    
                    li{
                        a{
                            padding: 5px;
                        }
                    }
                } // ul end
                
            } // nav end
        } // .container end
    } // header end
}

@media(min-width:992px){
    header{
        .container{
            nav{
                ul{
                    li{
                        a{
                            padding: 5px 15px;
                        }
                    }
                } // ul end
                
            } // nav end
        } // .container end
    } // header end
}