
$white : #ffffff;
$black : #000000;
$purple : #8a059e;
$red : #e02214;
$blue : #e02214;
$green : #0de042;
$orange : #f08307;
$yellow : #fafa07;
$cyan :#02f7df;

$light-gray : #eeeeee;
$dark-gray : #444444;

$enable-radius : true; 